---
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Social from "../components/Social.astro";

const allProjects = await getCollection('projects');
let highlightedProjects = allProjects.filter(
	(project) => project.data.highlighted,
);

highlightedProjects = highlightedProjects.sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});

---

<Layout title="Alexzander Stone">
	<main>
		<Header />
		<div class="instructions">
			<h2>
				Projects<a href="/projects">view more<span>&rarr;</span></a>
			</h2>
		</div>
		<ul role="list" class="link-card-grid">
			{
				highlightedProjects.map((project) => (
					<ProjectCard
						title={project.data.shortTitle}
						body={project.data.description}
						photoUrl={project.data.image.url}
						photoAlt={project.data.image.alt}
						href={`/projects/${project.slug}`}
						width={project.data.image.width.mini}
						height={project.data.image.height.mini}
					/>
				))
			}
		</ul>
		<div class="instructions">
			<h2>Me</h2>
		</div>

		<div class="me">
			<img
				src="/a_s.jpg"
				alt="Dat's me"
				width="310"
				height="413.5"
				decoding="async"
				loading="eager"
			/>
			<p class="me-description">
				I dig a lot of things.
				<br />
				 Web3, fullstack, game theory, competitive games, finding
				exploits, working on side-projects, and more.
				<br />
				<br />
				Sometimes I'm in the US, sometimes I'm in Canada, and sometimes
				I'm in South Korea.
				<br />
				<br />
				 Nice to meet ya.
				<br />
				<br />
				 Looking to work together on something cool? Reach out on these <strong>socials</strong> to contact me.
				<br />
				<Social />
			</p>
		</div>

		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(232, 230, 227);
		font-size: 20px;
		line-height: 1.6;
	}

	.instructions {
		padding: 0rem 1.5rem;
		border-radius: 8px;
	}
	.instructions a {
		color: rgb(157, 157, 157);
		padding: 0 0.5rem;
		font-size: 0.8rem;
	}
	.me {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.me img {
		width: 100%;
	}
	.me .me-description {
		font-size: 1rem;
		margin: 0;
	}

	.link-card-grid {
		min-height: 731.16px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
