---
import Layout from "../layouts/Layout.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Social from "../components/Social.astro";

const allProjects = await Astro.glob("../pages/projects/*.md");
const highlightedProjects = allProjects.filter(
	(project) => project.frontmatter.highlighted,
);
---

<Layout title="Alexzander Stone">
	<main>
		<Header />
		<!-- <ThemeIcon /> -->
		<div class="instructions">
			<h2>
				Projects<a href="/projects">view more<span>&rarr;</span></a>
			</h2>
		</div>
		<ul role="list" class="link-card-grid" >
			{
				highlightedProjects.map((highlighted_project) => (
					<ProjectCard
						title={highlighted_project.frontmatter.shortTitle}
						body={highlighted_project.frontmatter.description}
						photoUrl={highlighted_project.frontmatter.image.url}
						photoAlt={highlighted_project.frontmatter.image.alt}
						href={
							highlighted_project.url
								? highlighted_project.url
								: ""
						}
						width={highlighted_project.frontmatter.image.width.mini}
						height={highlighted_project.frontmatter.image.height.mini}
					/>
				))
			}
		</ul>
		<div class="instructions">
			<h2>Me</h2>
		</div>

		<div class="me">
			<img
				src="/a_s.jpg"
				alt="Dat's me"
				width="367.25"
				height="489.859"
				decoding="async"
				loading="eager"
			/>
			<!-- <Image src={myImage} height="300" alt="Dat's me" /> -->
			<p class="me-description">
				I dig a lot of things.
				<br />
				 Web3, fullstack, game theory, competitive games, finding
				exploits, working on side-projects, and more.
				<br />
				<br />
				 Sometimes I'm in the US, sometimes I'm in Canada, and sometimes
				I'm in South Korea.
				<br />
				<br />
				 Nice to meet ya.
				<br />
				<br />
				 Looking to work together on something cool? Reach out to me.
				<br />
				<Social />
			</p>
		</div>

		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(232, 230, 227);
		font-size: 20px;
		line-height: 1.6;
	}

	.instructions {
		padding: 0rem 1.5rem;
		border-radius: 8px;
	}
	.instructions a {
		color: rgb(157, 157, 157);
		padding: 0 0.5rem;
		font-size: 0.8rem;
	}
	.me {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.me img {
		width: 100%;
	}
	.me .me-description {
		margin: 0;
	}

	.link-card-grid {
		height: 731.16px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
