---
import { getCollection } from 'astro:content';
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";

let allProjects = await getCollection('projects');

allProjects = allProjects.sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});
---

<Layout title="Projects">
	<main>
		<Header />

		<div class="instructions">
			<h2>All Projects</h2>
		</div>
		<ul role="list" class="link-card-grid">
			{
				allProjects.map((project) => (
					<ProjectCard
						title={project.data.shortTitle}
						body={project.data.description}
						photoUrl={project.data.image.url}
						photoAlt={project.data.image.alt}
						href={`/projects/${project.slug}`}
						width={project.data.image.width.mini}
						height={project.data.image.height.mini}
					/>
				))
			}
		</ul>

		<Footer />
	</main>
</Layout>

<style>
	.instructions {
		padding: 0rem 1.5rem;
		border-radius: 8px;
	}

	.link-card-grid {
		min-height: 731.16px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
