---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
let allProjects = await Astro.glob("../pages/projects/*.md*");

allProjects = allProjects.sort((a, b)=> {
	const a_pub: string = a.frontmatter.pubDate;
	const a_pub_num: number = parseInt(a_pub.substring(0, 11).replaceAll("-", ''));
	const b_pub: string = b.frontmatter.pubDate;
	const b_pub_num: number = parseInt(b_pub.substring(0, 11).replaceAll("-", ''));
	return b_pub_num - a_pub_num 
})
---

<Layout title="Projects">
	<main>
		<Header />

		<div class="instructions">
			<h2>All Projects</h2>
		</div>
		<ul role="list" class="link-card-grid">
			{
				allProjects.map((project) => (
					<ProjectCard
						title={project.frontmatter.shortTitle}
						body={project.frontmatter.description}
						photoUrl={project.frontmatter.image.url}
						photoAlt={project.frontmatter.image.alt}
						href={project.url ? project.url : ""}
						width={project.frontmatter.image.width.mini}
						height={project.frontmatter.image.height.mini}
					/>
				))
			}
		</ul>

		<Footer />
	</main>
</Layout>

<style>
	.instructions {
		padding: 0rem 1.5rem;
		border-radius: 8px;
	}

	.link-card-grid {
		min-height: 731.16px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
