---
import Layout from "./Layout.astro";
import { type ProjectFrontmatter } from "../types";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { frontmatter }: { [key: string]: ProjectFrontmatter } = Astro.props;
const pubDate = frontmatter.pubDate.substring(0, 10);
---

<Layout title={frontmatter.title}>
    <main>
        <Header />
        <img
            class="full-img"
            decoding="async"
            loading="eager"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            width={frontmatter.image.width.normal}
            height={frontmatter.image.height.normal}
        />
        <p class="italics">Source: {frontmatter.image.source}</p>
        <h2 class="title">{frontmatter.title}</h2>
        <p class="pubDate">{pubDate} : {frontmatter.tags.join(", ")}</p>
        <hr />
        <slot />
        <Footer />
    </main>
</Layout>
<style is:global>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: rgb(232, 230, 227);
        font-size: 20px;
        line-height: 1.6;
    }
    @media (max-width: 400px) {
        main {
            max-width: calc(100% - 1rem);
        }
    }

    main a {
        color: rgb(59, 59, 248);
    }

    .full-img {
        width: 100%;
        height: 100%;
    }
    img {
        width: 60%;
        /* height: 100%; */
    }

    .title {
        margin: 1rem 0 0 0;
    }
    .pubDate {
        margin: 0 0 0 0;
        font-style: italic;
        font-size: small;
    }

    .italics {
        text-align: center;
        font-size: small;
        font-style: italic;
    }
    h4 {
        font-size: small;
        font-style: italic;
        text-align: center;
        margin: 0 auto;
        font-weight: normal;
    }

    h2{
        padding-top: 12px;
    } 
    
    h3 {
        padding-top: 24px;
    }

    @media (max-width: 400px) {
        p,
        li {
            font-size: 0.8rem;
        }
    }
</style>
